[Unit]
Description=Synchronizes login credentials from the Instance Metadata Service (IMDS)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ec2-agent
